In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('/home/ykalathiya/pycaret_assignment/multiclass/Student_performance_data _.csv')
drop_columns=['StudentID']
data=data.drop(columns=drop_columns)
data.head()

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [3]:
from pycaret.classification import *
s = ClassificationExperiment()

In [4]:
s.setup(data=data,
        target='GradeClass',
        session_id=123,
        normalize=True,
        transformation=True)

In [5]:
best_model = s.compare_models()

In [ ]:
s.evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [7]:
# Save the best model for future use
s.save_model(best_model, 'best_student_performance_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['Age', 'Gender', 'Ethnicity',
                                              'ParentalEducation',
                                              'StudyTimeWeekly', 'Absences',
                                              'Tutoring', 'ParentalSupport',
                                              'Extracurricular', 'Sports',
                                              'Music', 'Volunteering', 'GPA'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=None,
                                                               keep_empt...
                                             criterion='friedman_mse', init=None,
                                             learning_rate=0.1, loss='log_loss',
                                             max_depth=3, max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100,
                                             n_iter_no_change=None,
                                             random_state=123, subsample=1.0,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False))],
          verbose=False),
 'best_student_performance_model.pkl')

In [8]:
# Predict on the same data (or you can use new/unseen data)
predictions = s.predict_model(best_model)
predictions.head()

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,prediction_label,prediction_score
324,16,1,1,2,10.857563,5,1,1,0,1,0,0,2.981992,2.0,2,0.9780
2126,15,1,0,2,16.930691,1,1,1,1,1,0,0,3.597489,0.0,0,0.8966
1247,16,0,0,1,0.230520,26,0,2,0,0,0,0,0.112635,4.0,4,0.9696
1519,15,1,0,2,12.115190,27,1,4,0,1,1,0,1.364982,4.0,4,0.9912
875,17,0,1,2,3.513446,26,0,3,0,0,0,1,0.460422,4.0,4,0.9783

In [9]:
lightgbm = s.create_model('lightgbm')

In [10]:
data.describe()

,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In [11]:
s.create_app(lightgbm,None)

* Running on local URL:  http://127.0.0.1:7860
* To create a public link, set `share=True` in `launch()`.