In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/home/ykalathiya/pycaret_assignment/Student_performance_data _.csv')
data.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

In [3]:
from pycaret.classification import ClassificationExperiment
s = ClassificationExperiment()

In [4]:
s.setup(data=data,
        target='GradeClass',
        session_id=123,
        normalize=True,
        transformation=True)

In [5]:
best_model = s.compare_models()

In [6]:
s.evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [7]:
# Save the best model for future use
s.save_model(best_model, 'best_student_performance_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['StudentID', 'Age', 'Gender',
                                              'Ethnicity', 'ParentalEducation',
                                              'StudyTimeWeekly', 'Absences',
                                              'Tutoring', 'ParentalSupport',
                                              'Extracurricular', 'Sports',
                                              'Music', 'Volunteering', 'GPA'],
                                     transformer=SimpleImputer(add_indicator=False,
                                                               copy=True,
                                                               fill_value=No...
                  LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                 colsample_bytree=1.0, importance_type='split',
                                 learning_rate=0.1, max_depth=-1,
                                 min_child_samples=20, min_child_weight=0.001,
                                 min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                 num_leaves=31, objective=None, random_state=123,
                                 reg_alpha=0.0, reg_lambda=0.0, subsample=1.0,
                                 subsample_for_bin=200000, subsample_freq=0))],
          verbose=False),
 'best_student_performance_model.pkl')

In [8]:
# Predict on the same data (or you can use new/unseen data)
predictions = s.predict_model(best_model)
predictions.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass,prediction_label,prediction_score
324,1325,16,1,1,2,10.857563,5,1,1,0,1,0,0,2.981992,2.0,2,1.0000
2126,3127,15,1,0,2,16.930691,1,1,1,1,1,0,0,3.597489,0.0,0,0.9993
1247,2248,16,0,0,1,0.230520,26,0,2,0,0,0,0,0.112635,4.0,4,1.0000
1519,2520,15,1,0,2,12.115190,27,1,4,0,1,1,0,1.364982,4.0,4,1.0000
875,1876,17,0,1,2,3.513446,26,0,3,0,0,0,1,0.460422,4.0,4,1.0000